* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  transition: transform 450;
}
.column:hover {
  transform: scale(1.08);
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  align-items: center;
  height: 500px;
  /* justify-content: center; */
  align-content: center;
  /* grid-auto-flow: column; */
}
.row::-webkit-scrollbar {
  width: 12px;
  padding: auto;
  margin-left: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
