*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.body {
  color: white;
  padding: 40px;
  font-family: Open sans, sans-serif;
  text-align: left;
  width: 50%;
  margin: auto;
  background-color: rgb(194, 202, 190);
  height: auto;
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: rgb(194, 202, 190);
  padding: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: auto;
  text-align: center;
  transition: transform 450;
}
.grid-item:hover {
  transform: scale(1.08);
}
.grid-col {
  align-items: center;
  width: 300px;
  margin: auto;
  padding: 30px;
}
.modalData {
  height: 30vh;
  overflow-y: scroll;
}
.cardbody {
  height: 80%;
  align-items: stretch;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .Main {
    margin: 20px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    margin: 20px;
    background-color: gray;
  }
}
